/* app css stylesheet */

body {
    font-size: 14px;
    font-family: 'Droid Sans', sans-serif;
    background: #f5f5f5;
}

#container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.panel-group {
    margin-bottom: 0;
}

.left {
    position: relative;
    float: left;
    width: 30%;
    height: auto;
    margin-right: 5%;
    border-radius: 1%;
}

.center {
    text-align: center;
}

.right {
    position: relative;
    float: right;
    width: 65%;
    height: auto;
    padding: 1%;
    border-radius: 1%;
}

.chart {
    border-radius: 1%;
}

textarea {
    resize: vertical;
    max-height: 500px;
}

.description {
    width: auto;
    height: auto;
}

.buttonForm {
    margin-top: 2%;
}