<div id="container">
	<div class="left well">
		<div class="form-group formData">
			<ng-form name="form" class="css-form" novalidate>
				<p class="bg-danger center" ng-show="form.name.$dirty && form.name.$error.required">
					Name is mandatory
				</p>
				<p class="bg-danger center"  ng-show="innerform.quantity.$dirty && innerform.quantity.$error.required">
					Candies are mandatory
				</p>
				<p class="bg-danger center"  ng-show="innerform.quantity.$error.number">
					This is not a valid integer
				</p>
				<p class="bg-dangr center"  ng-show="innerform.quantity.$error.min || innerform.quantity.$error.max">
					The number of candies must be between 0 and 100
				</p>
				<label for="name">Name:</label>
				<br/><br/>
				<input type="text" name="name" class="form-control" placeholder="Name" ng-model="name" required>
				</input>
				<br/><br/>
				<label for="candies">Candies:</label>
				<br/><br/>
				<ng-form name="innerform"> 
					<div class="controls controls-row" ng-repeat="candy in candies">
						<input name="quantity" class="form-control" type="number"
							   placeholder="{{candy.name}}" ng-model="candies[$index].quantity" 
							   min="0" max="100" integer required>
					</div>
				</ng-form>
				<br/><br/>
				<label for="candies">Dash Style:</label>
				<br/><br/>
				<select name="dashstyle" class="form-control" ng-model="dashstyle"
						ng-options="ds.id as ds.title for ds in dashstyles">
				</select>
				<br/><br/>
				<label for="linecolor">Line Color:</label>
				<br/><br/>
				<input colorpicker id='linecolor' type="text" class="form-control" ng-model="linecolor" />
				<br/><br/>
				<label for="point">Point Color:</label>
				<br/><br/>
				<input colorpicker id='pointcolor' type="text" class="form-control" ng-model="pointcolor" />
				<br/><br/>
				<button class="btn btn-primary" ng-click="addConsumerForm()"
						ng-disabled="form.$invalid || innerform.$invalid">
					Add consumer <span class="glyphicon glyphicon-plus"></span>
				</button>
			</ng-form>
		</div>
	</div>
	<div class="right well">
		<chart chart-type="form"></chart>
		<button ng-click="saveChart()">
			Save Chart
		</button>
	</div>	
</div>

